
<script>window.$ = window.jQuery = window.require('jquery');</script> 
<script src="../assets/js/renderer.js"></script>
<script src="../assets/js/jquery-ui.min.js"></script>
<script src="../assets/js/popper.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>

</body>
<!-- <div class="text-center">
        <p class="headline" id="footer">Created by CM2 Tourachev, V.A. USNR. 2019.</p>
</div> -->
</html>