<% include partials/header.ejs %>
<div id="privacyAct" class="privacyAct">
    <h1 class="disclaimer-header ">UNCLASSIFIED</h1>
    <h3 class="disclaimer-header ">FOR OFFICIAL USE ONLY.</h3>
    <p class="disclaimer">Information contained within this application or its attachments may contain sensitive information, 
        disclosure of which is generally prohibited. Protected information included in this document or its attachments 
        are in accordance with section (b)1 of the Act which permits disclosure to individuals within the Department of Defense (DoD) with an official
        need to know.  Release of such protected information outside of the DoD is prohibited. FOUO information may be disseminated within the DoD components and between officials of the DoD
        components and DoD contractors as necessary in the conduct of official business. FOUO information
        may also be released to officials in other departments and agencies of the executive and judicial
        branches in performance of a valid U.S. Government function. By clicking accept you acknowledge this information. </p>
    <div style="padding-left: 32%">
        <button type="button" class="btn btn-success" id="acceptPrivacy">ACCEPT</button>
        <button type="button" class="btn btn-danger" id="declinePrivacy">DECLINE</button>
    </div>   
</div>

<script>window.$ = window.jQuery = require('jquery');</script>
<script src="../assets/js/renderer.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/jquery-ui.min.js"></script>
</body>

<footer>
    
</footer>
</html>